<!-- Error Page for KindaSorts -->

<!DOCTYPE html>
<link rel="stylesheet" href="{{ STATIC_URL }}style.css">
<html>
	<head>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}style.css">
			
		<title>RAEDA IN FOSSA EST</title>
	</head>
	<body>
		<!-- RAEDA IN FOSSA EST -->
		<!-- <img src="http://www.dl.ket.org/latin1/images/ch17.jpg"> -->
		<div style="position: absolute; text-align: center; width=75%; top: 25%">			
			<span class='page-center-span'>
				<span class='page-title' style='color:black; line-height: 70px'>Okay, that didn't really work. Would you like to <a href='../'>try again?</a> 
				<br><span style='font-size: 30px'>(psst -- you might want to double-check your url)</span></span>
			</span>
		</div>	
	</body>
</html>