<!-- About Page for KindaSorts -->

<!DOCTYPE html>
<link rel="stylesheet" href="{{ STATIC_URL }}style.css">
<html>
	<head>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}style.css">
			
		<title>RAEDA IN FOSSA EST</title>
	</head>
	<body>
		<!-- RAEDA IN FOSSA EST -->
		<!-- <img src="http://www.dl.ket.org/latin1/images/ch17.jpg"> -->
		<div style="position: absolute; text-align: full; width=75%; top: 10%">			
			<span class='page-center-span'>
				<span class='about-page-text' style='color:black; '>
					<b><u>About</u></b>
					<br>
					 <b><a href='../'>Kinda-Sorta</a></b> is an alternative approach to resource discovery within a museum's collection. Rather than ask users what they are looking for, it starts with a single object and asks the user what aspects of that object are important to them. They can adjust how important those facets are and it will then suggest similar objects using those criteria <span style='font-size: 30px'>(the algorithm is still under development).</span> 
					<br>
					<br>
					The inspiration for this project came from previous work on <b><a href='http://serendipomatic.com/'>Serendip-o-matic</a></b> as well as discussions with colleagues about 'user driven relevency'. 
					<br><br>

					<b><u>Credit</u></b>
					<br>
					I have almost no web development experience and <u>zero</u> deisgn skills, so I am compeled to beg, borrow and steal design from other sites. Because I love the new online collection at the <b><a href='http://collection.imamuseum.org/'>Indianpolis Museum of Art</a></b> I copied the style of their landing page. The background images are from the <b><a href='http://artgallery.yale.edu/'>Yale Art Gallery</a></b>). 
					<br><br>

					<b><u>Contact</u></b>
					<br>
					Comments, questions, complaints? 
					<br>
					<a href="https://twitter.com/intent/tweet?screen_name=moltude">@moltude</a>
			</span>
		</div>	
	</body>
</html>