<!-- Home page for KindaSorts -->

<!DOCTYPE html>
<link rel="stylesheet" href="{{ STATIC_URL }}style.css">
<html>
	<head>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}style.css">
		<style type="text/css">
			html { 
			  background: url({{ STATIC_URL }}{{bg}}) no-repeat center center fixed; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			}
		</style>
			
		<title>kinda\/sorta like, uh this..</title>
	</head>
	<body>
		<div class="search">
			{% include 'search_box.html' %}
		</div>
	</body>
</html>