
<!-- 
The blob of text nex to the image. The selects are hard-coded so they can be uniquely 
identified.

This whole page probably could be cleaned up but for now it is functional
-->
<div style="clear:float">
<span style="padding-left: 10px; margin: 10px; max-width:85%; line-height: 1.5">
	<h3>Found 1,853 objects that are kinda-sorta like the object you selected. These objects are 


	<select name="objectNameDD" id="ddlID">
		{% include 'options.html' %}
	</select>
	<span id="width_tmp"></span>

	like <u>{{ baseObj.objectName }}</u> and 

	<select name="artistDD" id="ddlID">
		{% include 'options.html' %}
	</select>
	<span id="width_tmp"></span>

	like the creator, <u>{{ baseObj.artist }}</u>, and
	<!-- <u>{{ baseObj.artist }}</u>  -->

	<select name="geographyDD" id="ddlID">
		{% include 'options.html' %}
	</select>
	<span id="width_tmp"></span>

	like its place of origin, <u>{{ baseObj.geography }}</u>, and 

	<select name="materialDD" id="ddlID">
		{% include 'options.html' %}
	</select>
	<span id="width_tmp"></span>

	like what it is made of, <u>{{ baseObj.material }}</u>.

	<br><br>
	<!-- Over-ride the default width -->
	<select name="magicDD" id="ddlID" style="width: 100px;">
		<option value="1">All of the</option>
		<option value="2">A lot</option>
		<option selected value="3">A little</option>
		<option value="3">No</option>
	</select>
	 magic was used.
	 </h3>
</span>
</div>